/home/m_bobrin/GANimplementations/data
/home/m_bobrin/Text2imgScratch/DiffusionAttentionControl/.ipynb_checkpoints
/home/m_bobrin/Text2imgScratch/DiffusionAttentionControl/wandb
/home/m_bobrin/DiffusionModels/FastaiCourseSD/learned_embeds-2.bin
